{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voiture enregistrée avec succès !</h1>

    <p>Vous pouvez la retrouver dans la base de donnée.</p>

<a href="/">
    <h3>Retour page d'accueil</h3>
</a>
{% endblock %}
